<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mind.cure.mapper.DbCureTmsMapper">
    
    <resultMap type="DbCureTms" id="DbCureTmsResult">
        <result property="id"    column="id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="attendingPhysician"    column="attending_physician"    />
        <result property="technicianName"    column="technician_name"    />
        <result property="executionTime"    column="execution_time"    />
        <result property="howMany"    column="how_many"    />
        <result property="documentAddress"    column="document_address"    />
        <result property="fatherId"    column="father_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectDbCureTmsVo">
        select id, patient_name, attending_physician, technician_name, execution_time, how_many, document_address, father_id, patient_id from db_cure_tms
    </sql>

    <select id="selectDbCureTmsList" parameterType="DbCureTms" resultMap="DbCureTmsResult">
        <include refid="selectDbCureTmsVo"/>
        <where>  
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="attendingPhysician != null  and attendingPhysician != ''"> and attending_physician = #{attendingPhysician}</if>
            <if test="technicianName != null  and technicianName != ''"> and technician_name like concat('%', #{technicianName}, '%')</if>
            <if test="executionTime != null "> and execution_time = #{executionTime}</if>
            <if test="howMany != null "> and how_many = #{howMany}</if>
            <if test="documentAddress != null  and documentAddress != ''"> and document_address = #{documentAddress}</if>
            <if test="fatherId != null "> and father_id = #{fatherId}</if>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
        </where>
        order by father_id
    </select>
    
    <select id="selectDbCureTmsById" parameterType="Long" resultMap="DbCureTmsResult">
        select t.id, t.patient_name, t.attending_physician, t.technician_name, t.execution_time, t.how_many, t.document_address, t.father_id, t.patient_id, p.patient_name as parent_name
        from db_cure_tms t
        left join db_cure_tms p on p.id = t.father_id
        where t.id = #{id}
    </select>
        
    <insert id="insertDbCureTms" parameterType="DbCureTms" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into db_cure_tms
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientName != null  and patientName != ''">patient_name,</if>
            <if test="attendingPhysician != null  and attendingPhysician != ''">attending_physician,</if>
            <if test="technicianName != null  and technicianName != ''">technician_name,</if>
            <if test="executionTime != null ">execution_time,</if>
            <if test="howMany != null ">how_many,</if>
            <if test="documentAddress != null  and documentAddress != ''">document_address,</if>
            <if test="fatherId != null ">father_id,</if>
            <if test="patientId != null ">patient_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientName != null  and patientName != ''">#{patientName},</if>
            <if test="attendingPhysician != null  and attendingPhysician != ''">#{attendingPhysician},</if>
            <if test="technicianName != null  and technicianName != ''">#{technicianName},</if>
            <if test="executionTime != null ">#{executionTime},</if>
            <if test="howMany != null ">#{howMany},</if>
            <if test="documentAddress != null  and documentAddress != ''">#{documentAddress},</if>
            <if test="fatherId != null ">#{fatherId},</if>
            <if test="patientId != null ">#{patientId},</if>
         </trim>
    </insert>

    <update id="updateDbCureTms" parameterType="DbCureTms">
        update db_cure_tms
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null  and patientName != ''">patient_name = #{patientName},</if>
            <if test="attendingPhysician != null  and attendingPhysician != ''">attending_physician = #{attendingPhysician},</if>
            <if test="technicianName != null  and technicianName != ''">technician_name = #{technicianName},</if>
            <if test="executionTime != null ">execution_time = #{executionTime},</if>
            <if test="howMany != null ">how_many = #{howMany},</if>
            <if test="documentAddress != null  and documentAddress != ''">document_address = #{documentAddress},</if>
            <if test="fatherId != null ">father_id = #{fatherId},</if>
            <if test="patientId != null ">patient_id = #{patientId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbCureTmsById" parameterType="Long">
        delete from db_cure_tms where id = #{id}
    </delete>

    <delete id="deleteDbCureTmsByIds" parameterType="String">
        delete from db_cure_tms where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>