<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <style type="text/css">
        input {
            border: 0;
            width: 50px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
    <table border="0" cellspacing="1" bordercolor="#333333" bgcolor="#333333">
        <tr>
            <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P300</label></td>
        </tr>
        <tr>
            <td rowspan="3" bgcolor="#FFFFFF">Electrode</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N1</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P2</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N2</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3a</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3b</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>

        </tr>
        <tr>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n1Lat" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n1Amp" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p2Lat" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p2Amp" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n2Lat" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n2Amp" style=""/></label></td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3aLat" style=""/></label>
            </td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3aAmp" style=""/></label>
            </td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3bLat" style=""/></label>
            </td>
            <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3bAmp" style=""/></label>
            </td>
        </tr>
        <tr>
            <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text" style=" background: none"
                                                                                  disabled/></label></td>
        </tr>
        <tr>
            <td colspan="9" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P500</label></td>
            <td colspan="2" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>MMN</label></td>
        </tr>
        <tr>
            <td rowspan="3" bgcolor="#FFFFFF">Electrode</td>
            <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Latency(ms)</td>
            <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Amplitude(uV)</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Latency(ms)</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
            <td rowspan="2" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="mvn" style=" width: 100px"/></label></td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS150" style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS250" style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS150" style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS250" style=" width: 100px"/></label></td>
        </tr>
        <tr>
            <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text" style=" background: none"
                                                                                  disabled/></label></td>
        </tr>
        <tr>
            <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>CNV</label></td>
        </tr>
        <tr>
            <td rowspan="2" bgcolor="#FFFFFF">Electrode</td>
            <td rowspan="1" colspan="8" bgcolor="#FFFFFF">Latency(ms)</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Amplitude(uV)</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">A</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">C</td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">S2-C</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaA"
                                                                        style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaB"
                                                                        style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2"
                                                                        style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaC"
                                                                        style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2C"
                                                                        style=" width: 100px"/></label></td>
            <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvAmB"
                                                                        style=" width: 100px"/></label></td>
        </tr>
    </table>
</form>
</body>
</html>