<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增聊天记录')"/>
                                                    </head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-message-add">
                                                                                                                                            <div class="form-group">
                            <label class="col-sm-3 control-label">聊天室名称
                                ：</label>
                            <div class="col-sm-8">
                                <input name="chatName" class="form-control" type="text">
                            </div>
                        </div>
                                                                                                                                                                        <div class="form-group">
                            <label class="col-sm-3 control-label">聊天列表
                                ：</label>
                            <div class="col-sm-8">
                                <input name="chatList" class="form-control" type="text">
                            </div>
                        </div>
                                                                                                                                                                        <div class="form-group">
                            <label class="col-sm-3 control-label">聊天室成员id
                                ：</label>
                            <div class="col-sm-8">
                                <input name="peopleChatId" class="form-control" type="text">
                            </div>
                        </div>
                                                            </form>
</div>
<th:block th:include="include :: footer"/>
                                                    <script type="text/javascript">
    var prefix = ctx + "statistics/message"
    $("#form-message-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-message-add').serialize());
        }
    }
                                                                                                </script>
</body>
</html>