<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改诱发电位报告(物理诊断下边)')"/>
    <style type="text/css">
        input {
            border: 0;
            width: 50px;
        }
        td {
            border: 1px solid #333333;
            text-align: center;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-induced-edit" th:object="${dbReportDiagnosisInduced}">
        <input name="id" th:field="*{id}" type="hidden">

        <input name="patientId" th:field="*{patientId}" class="form-control" type="text" style="display: none">
        <div class="form-group">
            <label class="col-sm-3 control-label">p300结论：</label>
            <div class="col-sm-8">
                <input name="impressionP300" th:field="*{impressionP300}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">p50结论：</label>
            <div class="col-sm-8">
                <input name="impressionP50" th:field="*{impressionP50}" class="form-control" type="text">
            </div>
        </div>   <div class="form-group">
        <label class="col-sm-3 control-label">cnv结论：</label>
        <div class="col-sm-8">
            <input name="impressionCnv" th:field="*{impressionCnv}" class="form-control" type="text">
        </div>
    </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">mmn结论：</label>
            <div class="col-sm-8">
                <input name="impressionMvn" th:field="*{impressionMvn}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">数据:</label>
            <div>
            <table border="0" cellspacing="11" bordercolor="#333333" bgcolor="#333333"

                   style="border:0;border-collapse:collapse">
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P300</label>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="1" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N1</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P2</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N2</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3a</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3b</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>

                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"  th:field="*{n1Lat}" name="n1Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"  th:field="*{n1Amp}"  name="n1Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"   th:field="*{p2Lat}" name="p2Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"  th:field="*{p2Amp}" name="p2Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"  th:field="*{n2Lat}"  name="n2Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text"  th:field="*{n2Amp}" name="n2Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" th:field="*{p3aLat}" name="p3aLat"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" th:field="*{p3aAmp}" name="p3aAmp"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" th:field="*{p3bLat}" name="p3bLat"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" th:field="*{p3bAmp}" name="p3bAmp"
                                                                                style=""/></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text"
                                                                                          style=" background: none"
                                                                                          disabled/></label></td>
                </tr>
                <tr>
                    <td colspan="9" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P500</label></td>
                    <td colspan="2" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>MMN</label></td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="1" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Latency(ms)</td>
                    <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Amplitude(uV)</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Latency(ms)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
                    <td rowspan="2" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="mvn" th:field="*{mvn}"
                                                                                style=" width: 100px"/></label></td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS150" th:field="*{p50LaS150}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS250" th:field="*{p50LaS250}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS150" th:field="*{p50AmS150}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS250" th:field="*{p50AmS250}"
                                                                                style=" width: 100px"/></label></td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text"
                                                                                          style=" background: none"
                                                                                          disabled/></label></td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>CNV</label></td>
                </tr>
                <tr>
                    <td rowspan="2" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="8" bgcolor="#FFFFFF">Latency(ms)</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Amplitude(uV)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">A</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">C</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">S2-C</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaA" th:field="*{cnvLaA}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaB" th:field="*{cnvLaB}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2" th:field="*{cnvLaS2}"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaC" th:field="*{cnvLaC}"
                                                                                style=" width: 50px"/></label></td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2C" th:field="*{cnvLaS2C}"
                                                                                style=" width: 50px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvAmB" th:field="*{cnvAmB}"
                                                                                style=" width: 100px"/></label></td>
                </tr>
            </table>
        </div>
        </div>




        <div class="form-group">
            <label class="col-sm-3 control-label">图片</label>
            <div class="col-sm-4" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="img300" th:src="@{prictureP300}">
                    <input id="prictureP300" name="prictureP300" value="" type="text" style="display:none">
                </div>
                <div class="  "
                     style="max-width: 200px; max-height: 150px;"></div>
                <div >
						          <span class="btn btn-white ">
                                      <span>P30  图片    </span>
                                  </span>
                </div>
            </div>
            <div class="col-sm-4" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="imgCnv" th:src="@{pictureCnv}">
                    <input id="pictureCnv" name="pictureCnv" value="" type="text" style="display:none">
                </div>
                <div class="  "
                     style="max-width: 200px; max-height: 150px;"></div>
                <div >
						          <span class="btn btn-white ">
                                      <span>cnv图片    </span>
                                  </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-4" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="imgP50" th:src="@{pictureP50}">
                    <input id="pictureP50" name="pictureP50" value="" type="text" style="display:none">
                </div>
                <div class="  "
                     style="max-width: 200px; max-height: 150px;"></div>
                <div >
						          <span class="btn btn-white ">
                                      <span>P50 图片   </span>
                                  </span>
                </div>
            </div>
            <div class="col-sm-4" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="imgMmn" th:src="@{pictureMmn}">
                    <input id="pictureMmn" name="pictureMmn" value="" type="text" style="display:none">
                </div>
                <div class="  "
                     style="max-width: 200px; max-height: 150px;"></div>
                <div >
						          <span class="btn btn-white ">
                                      <span>Mmn图片</span>
                                  </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">签名</label>
            <div class="col-sm-4">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="signatureTechnician" src="">
                </div>
                <input name="signatureTechnician" th:field="*{signatureTechnician}" class="form-control" type="text"
                       style="display: none">
                <span class="btn btn-white ">
                                      <span>技师 </span>
                                  </span>
            </div>
            <div class="col-sm-4">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="signatureDoctor" src="">
                </div>
                <input name="signatureDoctor" th:field="*{signatureDoctor}" class="form-control" type="text"
                       style="display: none">
                <span class="btn btn-white ">
                                      <span>医生 </span>
                                  </span>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "physical/induced";
    $("#form-induced-edit").validate({
        focusCleanup: true
    });

    $(function(){
        var signatureDoctor = "[[${dbReportDiagnosisInduced.signatureDoctor}]]";
        $("#signatureDoctor").attr('src', signatureDoctor);
        var signatureTechnician = "[[${dbReportDiagnosisInduced.signatureTechnician}]]";
        $("#signatureTechnician").attr('src', signatureTechnician);
        var pictureMmn = "[[${dbReportDiagnosisInduced.pictureMmn}]]";
        $("#imgMmn").attr('src', pictureMmn);
        var pictureP50 = "[[${dbReportDiagnosisInduced.pictureP50}]]";
        $("#imgP50").attr('src', pictureP50);
        var prictureP300 = "[[${dbReportDiagnosisInduced.prictureP300}]]";
        $("#img300").attr('src', prictureP300);
        var pictureCnv = "[[${dbReportDiagnosisInduced.pictureCnv}]]";
        $("#imgCnv").attr('src', pictureCnv);
    });


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-induced-edit').serialize());
        }
    }
</script>
</body>
</html>