<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('基因检测列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>病人名称：</label>
                            <input type="text" name="patientName"/>
                        </li>
                        <li>
                            <label>诊断记录表id：</label>
                            <input type="text" name="patientId"/>
                        </li>
                        <li>
                            <label>主治医生：</label>
                            <input type="text" name="attendingPhysician"/>
                        </li>
                        <li>
                            <label>执行技师：</label>
                            <input type="text" name="technicianName"/>
                        </li>
                        <li class="select-time">
                            <label>执行时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginExecutionTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endExecutionTime]"/>
                        </li>
                        <li>
                            <label>剩余次数：</label>
                            <input type="text" name="howMany"/>
                        </li>
                        <li>
                            <label>文档地址：</label>
                            <input type="text" name="documentAddress"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="lab:dna:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="lab:dna:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="lab:dna:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="lab:dna:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('lab:dna:edit')}]];
    var removeFlag = [[${@permission.hasPermi('lab:dna:remove')}]];
    var addFlag = [[${@permission.hasPermi('physical:dna:add')}]];
    var prefix = ctx + "lab/dna1";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "诱发电位",
            columns: [{
                checkbox: true
            },
                {
                    field: 'associatedId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'dbPatientMessage.patientName',
                    title: '病人姓名'
                },
                {
                    field: 'dbPatientMessage.patientSex',
                    title: '性别'
                },
                {
                    field: 'dbPatientMessage.patientAge',
                    title: '年龄'
                },

                {
                    field: 'dbPatientMessage.hospitalId',
                    title: '住院号'
                },
                {
                    field: 'dbPatientMessage.outpatientId',
                    title: '门诊号'
                },
                {
                    field: 'dbPatientMessage.bedId',
                    title: '床号'
                },
                {
                    field: 'dbPatientMessage.diagnosisCli',
                    title: '临床诊断'
                },
                {
                    field: 'createTime',
                    title: '诊断时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="preview(\'' + row.associatedId + '\')"><i class="fa fa-edit"></i>预览</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function  add(id) {
        var url = prefix + '/addonly/' + id;
        $.modal.open("新增红外成像报告",url, '1000', '800')
    }
    /* 预览word */
    function preview(userId) {
        var url = prefix + '/preview/' + userId;
        $.modal.open("预览", url, '850', '800');
    }
</script>
</body>
</html>