<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">

    <button onclick="trend()">每日走势图</button>
    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="form-group" style="width: 300px">
                <label class="font-noraml">项目名称选择</label>
                <select class="form-control" id="selectNow" onchange="test()">

                </select>
            </div>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 100%;height:400px;"></div>
        </div>
        <div class="row">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main2" style="width: 100%;height:400px;"></div>
            <div id="main3" style="width: 100%;height:400px;"></div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function trend() {
        var prefix2 = ctx + "statistical";
        var url = prefix2 + '/trend';
        $.modal.open("每日走势", url, '1000', '800');
    }
</script>
<script type="text/javascript">
    var data;
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    //页面加载时调用
    $(document).ready(function () {
        chartShow("圣诞节")
        dropDownShow();
    });

    //    图标显示
    function chartShow(name) {
        $.ajax({
            url: '/statistics/template/statis?name=' + name,
            type: 'get',
            success: function (result) {
                data = result.data;
                /*
                * 定义三个数组
                * */
                var doctorName = data["doctorName"];
                var totalCost = data["totalCost"];
                var totalNumber = data["totalNumber"];
                // 指定图表的配置项和数据
                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        data: ['蒸发量', '平均温度']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            //医生名字
                            data: doctorName,
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '总数量',
                            min: 0,
                            max: 250,
                            interval: 50,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        },
                        {
                            type: 'value',
                            name: '总费用',
                            min: 0,
                            max: 25,
                            interval: 5,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [
                        {
                            name: '总数量',
                            type: 'bar',
                            //总数量
                            data: totalNumber
                        },

                        {
                            name: '总费用',
                            type: 'line',
                            yAxisIndex: 1,
                            //
                            data: totalCost
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        });
    }

    //下拉显示 dropDownShow
    function dropDownShow() {
        $.ajax({
            url: '/statistics/template/statisGroup',
            type: 'get',
            success: function (result) {
                data = result.data;
                var job;
                for (var key in data) {
                    console.log(data[key]);
                    job += "<optgroup label='" + key + "'>";
                    for (var i in data[key]) {
                        job += " <option value='" + data[key][i] + "'>" + data[key][i] + "</option>"
                    }
                    job += " </optgroup>"
                }
                $("#selectNow").html(job);
            }
        });
    }

    //    下拉选中
    function test() {
        var name = document.getElementById("selectNow").value
        chartShow(name);
    }
</script>
</body>
</html>
