<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mind.physical.mapper.DbReportDiagnosisInfraredMapper">
    
    <resultMap type="DbReportDiagnosisInfrared" id="DbReportDiagnosisInfraredResult">
        <result property="id"    column="id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="integral"    column="integral"    />
        <result property="centroid"    column="centroid"    />
        <result property="slope"    column="slope"    />
        <result property="describe"    column="describe"    />
        <result property="hint"    column="hint"    />
        <result property="signatureTechnician"    column="signature_technician"    />
        <result property="pictureCnv"    column="picture_cnv"    />
    </resultMap>

    <sql id="selectDbReportDiagnosisInfraredVo">
        select id, patient_id, integral, centroid, slope, describe, hint, signature_technician, picture_cnv from db_report_diagnosis_infrared
    </sql>

    <select id="selectDbReportDiagnosisInfraredList" parameterType="DbReportDiagnosisInfrared" resultMap="DbReportDiagnosisInfraredResult">
        <include refid="selectDbReportDiagnosisInfraredVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="integral != null  and integral != ''"> and integral = #{integral}</if>
            <if test="centroid != null  and centroid != ''"> and centroid = #{centroid}</if>
            <if test="slope != null  and slope != ''"> and slope = #{slope}</if>
            <if test="describe != null  and describe != ''"> and describe = #{describe}</if>
            <if test="hint != null  and hint != ''"> and hint = #{hint}</if>
            <if test="signatureTechnician != null  and signatureTechnician != ''"> and signature_technician = #{signatureTechnician}</if>
            <if test="pictureCnv != null  and pictureCnv != ''"> and picture_cnv = #{pictureCnv}</if>
        </where>
    </select>
    
    <select id="selectDbReportDiagnosisInfraredById" parameterType="Long" resultMap="DbReportDiagnosisInfraredResult">
        <include refid="selectDbReportDiagnosisInfraredVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDbReportDiagnosisInfrared" parameterType="DbReportDiagnosisInfrared">
        insert into db_report_diagnosis_infrared
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="patientId != null ">patient_id,</if>
            <if test="integral != null  and integral != ''">integral,</if>
            <if test="centroid != null  and centroid != ''">centroid,</if>
            <if test="slope != null  and slope != ''">slope,</if>
            <if test="describe != null  and describe != ''">describe,</if>
            <if test="hint != null  and hint != ''">hint,</if>
            <if test="signatureTechnician != null  and signatureTechnician != ''">signature_technician,</if>
            <if test="pictureCnv != null  and pictureCnv != ''">picture_cnv,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="patientId != null ">#{patientId},</if>
            <if test="integral != null  and integral != ''">#{integral},</if>
            <if test="centroid != null  and centroid != ''">#{centroid},</if>
            <if test="slope != null  and slope != ''">#{slope},</if>
            <if test="describe != null  and describe != ''">#{describe},</if>
            <if test="hint != null  and hint != ''">#{hint},</if>
            <if test="signatureTechnician != null  and signatureTechnician != ''">#{signatureTechnician},</if>
            <if test="pictureCnv != null  and pictureCnv != ''">#{pictureCnv},</if>
         </trim>
    </insert>

    <update id="updateDbReportDiagnosisInfrared" parameterType="DbReportDiagnosisInfrared">
        update db_report_diagnosis_infrared
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null ">patient_id = #{patientId},</if>
            <if test="integral != null  and integral != ''">integral = #{integral},</if>
            <if test="centroid != null  and centroid != ''">centroid = #{centroid},</if>
            <if test="slope != null  and slope != ''">slope = #{slope},</if>
            <if test="describe != null  and describe != ''">describe = #{describe},</if>
            <if test="hint != null  and hint != ''">hint = #{hint},</if>
            <if test="signatureTechnician != null  and signatureTechnician != ''">signature_technician = #{signatureTechnician},</if>
            <if test="pictureCnv != null  and pictureCnv != ''">picture_cnv = #{pictureCnv},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbReportDiagnosisInfraredById" parameterType="Long">
        delete from db_report_diagnosis_infrared where id = #{id}
    </delete>

    <delete id="deleteDbReportDiagnosisInfraredByIds" parameterType="String">
        delete from db_report_diagnosis_infrared where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>