<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增脑电诊断')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-electrical-add">
        <input name="patientId" class="form-control" type="text" style="display:none" value=" " id="patientId">
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">技师签名
                ：</label>
            <div class="col-sm-8">
                <input name="signatureTechnician" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">医生签名
                ：</label>
            <div class="col-sm-8">
                <input name="signatureDoctor" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">脑电图号
                ：</label>
            <div class="col-sm-8">
                <input name="electricalNo" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">左右利手：</label>
            <div class="col-sm-8">
                <select name="handedness" class="form-control m-b"
                        th:with="type=${@dict.getType('direction')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">基本节律
                ：</label>
            <div class="col-sm-8">
                <textarea name="rhythmText" class="form-control" type="text">以 α、β、θ波为主，α波为  Hz μv。波形欠整、整齐，
         调幅调节欠佳、良好 , 双侧同步对称性良好、不对称</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">慢波
                ：</label>
            <div class="col-sm-8">
                <textarea name="slowWave" class="form-control" type="text">额、颞、中央、顶、枕、全导区少量、少-中量、中量、中-大量、大量6-7Hz低幅、中幅、高幅θ波</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">快波
                ：</label>
            <div class="col-sm-8">
                <textarea name="dastWave" class="form-control" type="text">额、颞、中央、顶、枕、全导区少量、少-中量、中量、中-大量、大量15-20Hz低幅、中幅、高幅β波</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">病理波
                ：</label>
            <div class="col-sm-8">
                <input name="pathologyWave" class="form-control" type="text" value="不明显">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">诱发实验
                ：</label>
            <div class="col-sm-8">
                <textarea name="inducedExperimental" class="form-control" type="text">睁闭眼：α波抑制完全过度换气：同背景</textarea>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">临床发作
                ：</label>
            <div class="col-sm-8">
                <input name="clinicalSeizures" class="form-control" type="text" value="无">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注
                ：</label>
            <div class="col-sm-8">
                <textarea name="noteText" class="form-control" type="text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结果
                ：</label>
            <div class="col-sm-8">
                <input name="resultsText" class="form-control" type="text" value="界线性  未见异常  低波幅VEEG">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">建议
                ：</label>
            <div class="col-sm-8">
                <input name="adviceText" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片</label>
            <div class="col-sm-4" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                    <img id="img300" th:src="@{electricalPicture}">
                    <input id="electricalPicture" name="electricalPicture" value="" type="text" style="display:none">
                </div>
                <div class="  "
                     style="max-width: 200px; max-height: 150px;"></div>
                <div onclick="screenshot()">
						          <span class="btn btn-white ">
                                      <span>P30  </span>
                                      <span>选择图片</span>
                                  </span>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "physical/electrical"
    $("#form-electrical-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var id = [[${userId}]];
            document.getElementById('patientId').value = id;
            $.operate.save(prefix + "/add", $('#form-electrical-add').serialize());
        }
    }
    function screenshot() {
        event.stopPropagation();
        $.ajax({
            type: "GET",
            url: ctx + "common/uploadScreen",
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    $("#img300").attr('src', result.fileName);
                    $("#electricalPicture").attr('value', result.fileName);
                } else {
                    $.modal.alertError(result.msg);
                }
            },
            error: function (error) {
                $.modal.alertWarning("图片上传失败。");
            }
        });
    }
</script>
</body>
</html>