<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('脱落列列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>医生名称：</label>
                            <input type="text" name="doctorName"/>
                        </li>
                        <li>
                            <label>脱落类型：</label>
                            <input type="text" name="offClass"/>
                        </li>
                        <li>
                            <label>说明：</label>
                            <input type="text" name="offState"/>
                        </li>
                       <!-- <li>
                            <label>是否取消脱落：</label>
                            <input type="text" name="isOff"/>
                        </li>
                        <li>
                            <label>关联的诊断id：</label>
                            <input type="text" name="messageId"/>
                        </li>-->
                        <li>
                            <label>操作人姓名：</label>
                            <input type="text" name="updateName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="statistics:off:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="statistics:off:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="statistics:off:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="statistics:off:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('statistics:off:edit')}]];
    var removeFlag = [[${@permission.hasPermi('statistics:off:remove')}]];
    var prefix = ctx + "statistics/off1";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "脱落列",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'doctorName',
                    title: '医生名称'
                },
                {
                    field: 'offClass',
                    title: '脱落类型'
                },
                {
                    field: 'offState',
                    title: '说明'
                },
              /*  {
                    field: 'isOff',
                    title: '是否取消脱落'
                },
                {
                    field: 'messageId',
                    title: '关联的诊断id'
                },*/
                {
                    field: 'updateName',
                    title: '操作人姓名'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>