<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('红外热成像及血流图检查列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                                                                                                                                                                                                                                            <li>
                                        <label>病人id：</label>
                                        <input type="text" name="patientId"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>Integral值：</label>
                                        <input type="text" name="integral"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>Centroid值：</label>
                                        <input type="text" name="centroid"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>Slope值：</label>
                                        <input type="text" name="slope"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>波普描述：</label>
                                        <input type="text" name="describe"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>诊断提示：</label>
                                        <input type="text" name="hint"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>技师签名：</label>
                                        <input type="text" name="signatureTechnician"/>
                                    </li>
                                                                                                                                                                                                                                                    <li>
                                        <label>图片地址：</label>
                                        <input type="text" name="pictureCnv"/>
                                    </li>
                                                                                                            <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('physical:infrared:edit')}]];
    var removeFlag = [[${@permission.hasPermi('physical:infrared:remove')}]];
    var addFlag = [[${@permission.hasPermi('physical:infrared:add')}]];                                                                                                                    var prefix = ctx + "physical/infrared";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "诱发电位",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'patientName',
                    title: '病人姓名'
                },
                {
                    field: 'patientSex',
                    title: '性别'
                },
                {
                    field: 'patientAge',
                    title: '年龄'
                },
                {
                    field: 'patientCulture',
                    title: '文化程度'
                },
                {
                    field: 'patientProfessional',
                    title: '职业'
                },
                {
                    field: 'patientMarriage',
                    title: '婚姻'
                },
                {
                    field: 'patientBirth',
                    title: '出生日期'
                },
                {
                    field: 'patientHeight',
                    title: '身高'
                },
                {
                    field: 'patientWeight',
                    title: '体重'
                },
                {
                    field: 'hospitalId',
                    title: '住院号'
                },
                {
                    field: 'outpatientId',
                    title: '门诊号'
                },
                {
                    field: 'bedId',
                    title: '床号'
                },
                {
                    field: 'diagnosisCli',
                    title: '临床诊断'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="add(\'' + row.id + '\')"><i class="fa fa-edit"></i>新增</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="openReport(\'' + row.id + '\')"><i class="fa fa-edit"></i>检测报告</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function  add(id) {
        var url = prefix + '/addonly/' + id;
        $.modal.open("新增红外成像报告",url, '1000', '800')
    }
    /* 检测报告 */
    function openReport(userId) {
        var url = ctx+'registered/message1/openReport/' + userId;
        $.modal.open("检测报告", url, '1000', '800');
    }

</script>
</body>
</html>