<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增诱发电位报告')"/>
    <th:block th:include="include :: jasny-bootstrap-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style type="text/css">
        input {
            border: 0;
            width: 50px;
        }

        td {
            border: 1px solid #333333;
            text-align: center;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-induced-add">
        <input name="patientId" class="form-control" type="text" style="display:none" value=" " id="patientId">
        <div class="form-group">
            <label class="col-sm-3 control-label">数据填写
                ：</label>
            <table border="0" cellspacing="11" bordercolor="#333333" bgcolor="#333333"
                   style="border:0;border-collapse:collapse">
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P300</label>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="1" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N1</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P2</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">N2</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3a</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">P3b</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Lat.</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Amp.</td>

                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(ms)</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">(uV)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n1Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n1Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p2Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p2Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n2Lat"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="n2Amp"
                                                                                style=""/></label></td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3aLat"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3aAmp"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3bLat"
                                                                                style=""/></label>
                    </td>
                    <td bgcolor="#FFFFFF" colspan="1" rowspan="1"><label><input type="text" name="p3bAmp"
                                                                                style=""/></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text"
                                                                                          style=" background: none"
                                                                                          disabled/></label></td>
                </tr>
                <tr>
                    <td colspan="9" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>P500</label></td>
                    <td colspan="2" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>MMN</label></td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="1" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Latency(ms)</td>
                    <td rowspan="1" colspan="4" bgcolor="#FFFFFF">Amplitude(uV)</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Latency(ms)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S1-P50</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2-P50</td>
                    <td rowspan="2" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="mvn"
                                                                                style=" width: 100px"/></label></td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS150"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50LaS250"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS150"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="p50AmS250"
                                                                                style=" width: 100px"/></label></td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="height: auto"><label><input type="text"
                                                                                          style=" background: none"
                                                                                          disabled/></label></td>
                </tr>
                <tr>
                    <td colspan="11" bgcolor="#FFFFFF" style="text-align: left;font-weight:bold"><label>CNV</label></td>
                </tr>
                <tr>
                    <td rowspan="2" bgcolor="#FFFFFF">Electrode</td>
                    <td rowspan="1" colspan="8" bgcolor="#FFFFFF">Latency(ms)</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">Amplitude(uV)</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">A</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">S2</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">C</td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">S2-C</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF">B</td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF">Cz</td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaA"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaB"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2"
                                                                                style=" width: 100px"/></label></td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaC"
                                                                                style=" width: 50px"/></label></td>
                    <td rowspan="1" colspan="1" bgcolor="#FFFFFF"><label><input type="text" name="cnvLaS2C"
                                                                                style=" width: 50px"/></label></td>
                    <td rowspan="1" colspan="2" bgcolor="#FFFFFF"><label><input type="text" name="cnvAmB"
                                                                                style=" width: 100px"/></label></td>
                </tr>
            </table>
        </div>
        <!--  <div class="form-group">
              <label class="col-sm-3 control-label">p300结论
                  ：</label>
              <div class="col-sm-8">
                  <textarea name="impressionP300" class="form-control" required type="text">能完成任务，靶刺激反应时间正常。 P3b波幅未见异常。P3b潜伏期未见异常。	各波波幅潜伏期未见异常，在完成选择性注意事件过程中，未见认知过程异常征象</textarea>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-3 control-label">p50结论
                  ：</label>
              <div class="col-sm-8">
                  <textarea name="impressionP50" class="form-control" type="text">S2-P50/S1-P50﹥0.5，提示大脑感觉门控（抗干扰能力）缺失，大脑不能排除干扰。</textarea>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label">cnv结论
                  ：</label>
              <div class="col-sm-8">
                  <textarea name="impressionCnv" class="form-control" type="text">能完成作业，提示唤醒水平降低所致注意障碍。</textarea>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label">mmn结论
                  ：</label>
              <div class="col-sm-8">
                  <textarea name="impressionMvn" class="form-control" type="text">MMN 波形潜伏期未见异常，提示在无意识状态下，大脑对新奇刺激信息自动加工功能正常</textarea>
              </div>
          </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <span class="btn btn-white " id="openScreenshot">
                            <a href="Simu://hello">打开截图程序</a>
          </span>
        </div>

        <input id="prictureP300" name="prictureP300" value="" type="text" style="display:none">
        <input id="pictureCnv" name="pictureCnv" value="" type="text" style="display:none">
        <input id="pictureP50" name="pictureP50" value="" type="text" style="display:none">
        <input id="pictureMmn" name="pictureMmn" value="" type="text" style="display:none">

        <div class="form-group">
            <label class="col-sm-2 control-label">p30图片</label>
            <div class="col-sm-4">
                <input id="fileinput-demo-1" type="file" multiple>
            </div>
            <label class="col-sm-2 control-label">Cnv图片</label>
            <div class="col-sm-4">
                <input id="fileinput-demo-2" type="file" multiple>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">p50图片</label>
            <div class="col-sm-4">
                <input id="fileinput-demo-3" type="file" multiple>
            </div>
            <label class="col-sm-2 control-label">Mmn图片</label>
            <div class="col-sm-4">
                <input id="fileinput-demo-4" type="file" multiple>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "physical/induced"
    $("#form-induced-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var id = [[${userId}]];
            document.getElementById('patientId').value = id;
            $.operate.save(prefix + "/add", $('#form-induced-add').serialize());
        }
    }

    $(document).ready(function () {

        $("#fileinput-demo-1").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/uploadInput',
            uploadExtraData: {
                file: $("#fileinput-demo-1").val(),
            },
            initialPreviewAsData: true,
            enctype: 'multipart/form-data',
            uploadAsync: true,
        });

        $("#fileinput-demo-1").on("fileuploaded", function (event, data, previewId, index) {
            var res = data.response;
            if (res.code == 0) {
                // location.href = res.url;
                document.getElementById('prictureP300').value = res.fileName;
            }
        });

    });
    $(document).ready(function () {

        $("#fileinput-demo-2").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/uploadInput',
            uploadExtraData: {
                file: $("#fileinput-demo-2").val(),
            },
            initialPreviewAsData: true,
            enctype: 'multipart/form-data',
            uploadAsync: true,
        });

        $("#fileinput-demo-2").on("fileuploaded", function (event, data, previewId, index) {
            var res = data.response;
            if (res.code == 0) {
                // location.href = res.url;
                document.getElementById('pictureCnv').value = res.fileName;
            }
        });

    });
    $(document).ready(function () {

        $("#fileinput-demo-3").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/uploadInput',
            uploadExtraData: {
                file: $("#fileinput-demo-3").val(),
            },
            initialPreviewAsData: true,
            enctype: 'multipart/form-data',
            uploadAsync: true,
        });

        $("#fileinput-demo-3").on("fileuploaded", function (event, data, previewId, index) {
            var res = data.response;
            if (res.code == 0) {
                // location.href = res.url;
                document.getElementById('pictureP50').value = res.fileName;
            }
        });

    });
    $(document).ready(function () {

        $("#fileinput-demo-4").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': '/common/uploadInput',
            uploadExtraData: {
                file: $("#fileinput-demo-4").val(),
            },
            initialPreviewAsData: true,
            enctype: 'multipart/form-data',
            uploadAsync: true,
        });

        $("#fileinput-demo-4").on("fileuploaded", function (event, data, previewId, index) {
            var res = data.response;
            if (res.code == 0) {
                // location.href = res.url;
                document.getElementById('pictureMmn').value = res.fileName;
            }
        });

    });

</script>
</body>
</html>