<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('诱发电位')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                      <!--  <li>
                            <label>病人id：</label>
                            <input type="text" name="patientId"/>
                        </li>
                        <li>
                            <label>p300(Json)字串：</label>
                            <input type="text" name="p300"/>
                        </li>
                        <li>
                            <label>p50(json)字串：</label>
                            <input type="text" name="p50"/>
                        </li>
                        <li>
                            <label>cnv(json)字串：</label>
                            <input type="text" name="cnv"/>
                        </li>-->
                        <li>
                            <label>p300结论：</label>
                            <input type="text" name="impressionP300"/>
                        </li>
                        <li>
                            <label>p50结论：</label>
                            <input type="text" name="impressionP50"/>
                        </li>
                        <li>
                            <label>cnv结论：</label>
                            <input type="text" name="impressionCnv"/>
                        </li>
                        <li>
                            <label>mvn结论：</label>
                            <input type="text" name="impressionMvn"/>
                        </li>
                      <!--  <li>
                            <label>mvn值：</label>
                            <input type="text" name="mvn"/>
                        </li>
                        <li>
                            <label>p300图片：</label>
                            <input type="text" name="prictureP300"/>
                        </li>
                        <li>
                            <label>cnv图片：</label>
                            <input type="text" name="pictureCnv"/>
                        </li>
                        <li>
                            <label>p50图片：</label>
                            <input type="text" name="pictureP50"/>
                        </li>
                        <li>
                            <label>mmn图片：</label>
                            <input type="text" name="pictureMmn"/>
                        </li>-->
                        <li>
                            <label>技师签名：</label>
                            <input type="text" name="signatureTechnician"/>
                        </li>
                        <li>
                            <label>医生签名：</label>
                            <input type="text" name="signatureDoctor"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="physical:induced:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="physical:induced:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="physical:induced:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="physical:induced:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('physical:induced:edit')}]];
    var addFlag = [[${@permission.hasPermi('physical:induced:add')}]];
    var removeFlag = [[${@permission.hasPermi('physical:induced:remove')}]];
    var prefix = ctx + "physical/induced";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "诱发电位",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'patientName',
                    title: '病人姓名'
                },
                {
                    field: 'patientSex',
                    title: '性别'
                },
                {
                    field: 'patientAge',
                    title: '年龄'
                },
                {
                    field: 'patientCulture',
                    title: '文化程度'
                },
                {
                    field: 'patientProfessional',
                    title: '职业'
                },
                {
                    field: 'patientMarriage',
                    title: '婚姻'
                },
                {
                    field: 'patientBirth',
                    title: '出生日期'
                },
                {
                    field: 'patientHeight',
                    title: '身高'
                },
                {
                    field: 'patientWeight',
                    title: '体重'
                },
                {
                    field: 'hospitalId',
                    title: '住院号'
                },
                {
                    field: 'outpatientId',
                    title: '门诊号'
                },
                {
                    field: 'bedId',
                    title: '床号'
                },
                {
                    field: 'diagnosisCli',
                    title: '临床诊断'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="add(\'' + row.id + '\')"><i class="fa fa-edit"></i>新增</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function  openn() {
        window.location.href=prefix+"/generateWord";
    }
    function  add(id) {
        var url = prefix + '/addonly/' + id;
        $.modal.open("新增诱发电位报告",url, '1000', '800')
    }
</script>
</body>
</html>